#carte_arbre{
  flex: 1 1 auto;
  z-index: 950;
  min-height: 500px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005B41;
  color: white;
}

.fa-heart {color: #005B41}
